---
import { getCollection } from "astro:content";
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await getCollection("posts");
const pageTitle = "Fire Emblem Heroes";
---

<BaseLayout pageTitle={pageTitle}>
     
        
            <h1>Here is where i'll keep a record of the things i do in it.</h1>
            
            <ul>
                {allPosts.map((post) => <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />)}
            </ul>
  </BaseLayout>
