---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>



<style>

a {
    padding: 0.5rem 1rem;
    color: black;
    background-color:rgba(41, 3, 3, 0.274);
    text-decoration: none;
    
}




</style>